.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  align-items: center;
  background: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font);
}

.header {
  min-inline-size: 375px;
  min-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  background-color: var(--background);
  outline: 2px solid var(--outline-color);
  display: grid;
  margin-block: 100px;
}

.header_title {
  font-family: var(--tittle-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  letter-spacing: 0%;
  line-height: 100%;
  justify-self: center;
  align-self: end;
  margin-block-end: 10px;
}

.header_text {
  font-family: var(--tittle-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  justify-self: center;
  align-self: start;
  margin-block-start: 9px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: center;
  margin-block-end: 100px;
}

.card {
  min-inline-size: 371px;
  max-inline-size: 696px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  outline: 2px solid var(--outline-color);
  background-color: var(--background);
}

.card_tittle { /*Заголовок карточки*/
  outline: inherit;
  padding-inline: 10px;
  padding-block: 4px;
  font-size: 18px;
  font-variation-settings: "wght" 715;
}

.card_image { /*Изображение карточки + HTML*/
  position: relative;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card_image_text { /*HTML*/
  position: absolute;
  top: 28px;
  right: 25px;
  font-family: var(--tittle-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  line-height: 100%;
  font-weight: 400;
  opacity: 50%;
}

@supports (-webkit-text-stroke: 1px #ffffff) {
  .card_image_text {
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

.image { /*Главное изображение*/
  width: 100%;
  display: block;
  object-fit: cover; 
  object-position: center;
}

.card_content { /*Контент под картинкой*/
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  outline: 2px solid var(--outline-color);
}

.card_text { /*Параграфы карточки*/
  font-size: 18px;
  font-variation-settings: "wght" 410;
  letter-spacing: 0%; 
  line-height: 21px;
}

.button { /*Общий класс кнопок*/
  display: flex;
  position: relative;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  color: var(--text-color-dark);
  z-index: 1;
  justify-content: center;
  outline: none;
  border: 2px solid var(--outline-color);
  background-color: var(--background);
}

.button__text { /*Текст кнопки*/
  display: flex;
  font-family: var(--tittle-font);
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  color: inherit;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--text-color-light);
  align-items: center;
}

.button_save_image { /*Дискета в кнопке сохранить*/
  position: relative;
  z-index: 2;
  width: 21px;
  fill: currentColor;
  transition: fill 0.5s ease-in-out;
  mix-blend-mode: difference;
  color: var(--text-color-light);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--outline-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover {
  z-index: 1;
}

.button:hover .button_save_image {
  z-index: 2;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus-visible {
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px 0 0 var(--outline-color);
}

.card_button { /*Иконка + LIKE*/
  display: flex;
  justify-content: end;
  gap: 6px;
  cursor: pointer;
  align-items: center;
}

.card__icon-button { /*Иконка*/
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--background);
 box-sizing: border-box;
 border: none;
 margin: 0;
 padding: 0;
 cursor: pointer;
   width: 38px;
 max-height: 34px;
}

.card__icon-button:hover .core {
  fill: var(--icon-unlike-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--icon-unlike-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--icon-like-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--icon-like-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__like-button { /*LIKE*/
  background-color: var(--background);
  width: 130px;
  max-height: 38px;
  padding-block-start: 12px;
  padding-block-end: 11px;
} 

.button_save {
  flex-direction: row;
  gap: 8px;
  padding-inline: 20px;
  padding-block: 17px;
  background-color: var(--background);
}

.heart {
  transform-origin: center;
  transform-box: fill-box;
}

.contour {
  fill: var(--icon-unlike-color);
  transition: fill 0.1s linear;
}

.sparks {
  fill: transparent;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .core {
  fill: var(--icon-like-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--icon-like-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--icon-like-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1 normal forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1 normal forwards;
}

.card__icon-button:focus-visible {
  border: none;
  outline: 2px solid var(--outline-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main_dialog {
  padding: 0;
  border: none;
  outline: 2px solid var(--outline-color);
}

.main_dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.form_dialog {
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  padding: 30px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  max-width: 353px;
}

.dialog-content {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.dialog_text {
  font-family: var(--tittle-font);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
}

.dialog_button {
  padding-block: 12.5px;
  max-width: 293px;
  font-family: var(--tittle-font);
  line-height: 90%;
  transition: color 0.5s ease-in-out;
}

.uppercase {
  text-transform: uppercase;
}

.dialog_image {
  width: 39px;
}

.contrast {
  filter: contrast(80%) grayscale(75%);
}

.saturate {
  filter: saturate(300%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(100%);
}

.blur {
  filter: blur(15px);
}

.hue-rotate_contrast {
  filter: hue-rotate(90deg) contrast(40%);
}

@media (width <= 375px) {
  .header {
    outline: none;
    border: 2px solid var(--outline-color);
  }

  .card {
    outline: none;
    border: 2px solid var(--outline-color);
  }

  .button_save {
    flex-direction: column;
    align-items: center;
    padding-inline: 18px;
  }

  .button_save_image {
    width: 28px;
  }
}